@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #F5F5F5;
    --text-color: #0F1314;
    --main-color: #1A237E;
    --white-color: #F6F6F4;
    --shadow-color: rgba(0, 0, 0, .2);

    font-size: 100%;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

section {
    min-height: 100vh;
    padding: 6rem 7% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background-color: var(--bg-color);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

#darkMode-icon {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-color);
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 1.3rem;
    color: var(--text-color);
    display: none;
}

.header img {
    width: 60%;
}

.logo {
    font-size: 2rem;
    color: var(--main-color);
    margin-right: auto;
    cursor: auto;
}

.separador {
    display: block;
    position: absolute;
    width: 100%;
    font-size: 4rem;
    left: 50%;
    bottom: 5%;
    opacity: .2;
    color: var(--main-color);
}

.navbar a {
    position: relative;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 3rem;
    padding-bottom: .5rem;
}

.navbar a:hover {
    color: var(--main-color);
    font-weight: bold;
}


span {
    color: var(--main-color);
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 7% 0;
    height: 100vh;
}

.home .home-content {
    max-width: 28rem;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1rem;
}

.home .home-content .profession .text {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

.home .home-content .profession .text .text-animation {
    box-shadow: 0 .2rem .5rem var(--shadow-color);
}

.home .home-content .profession .text.text-animation:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    border-left: 2px solid var(--main-color);
    animation: pulse 4s steps(12) infinite;
}

@keyframes pulse {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }

}


.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .1px .4px var(--shadow-color);
    font-size: 1.6rem;
    color: var(--main-color);
    text-decoration: none;
    margin: 1.5rem 1rem 1.2rem 0;
    transition: .5 ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: .1rem solid transparent;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5 ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.btn i {
    margin-left: .6rem;
    font-size: 1rem;
}

/* .home .animation-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 46rem;
    height: 46rem;
    overflow: hidden;
    background-color: #1A237E;
}

.home .animation-container .animation-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 50%;
}

.home .animation-container .animation-box .animation {
    font-size: 2.8rem;
    font-weight: 300;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .animation-container .animation-box .animation span {
    position: relative;
}

.home .animation-container .animation-box .animation span::before {
    content: "";
    color: #0F1314;
    animation: text-decoration 20s infinite;
}

.home .animation-container .animation-box .animation span::after {
    content: "";
    position: absolute;
    height: 100%;
    right: -10px;
    animation: infinite-cursor .8s infinite, switch-off 20s steps(15) infinite;
    width: calc(100% + 8px);
    background-color: yellowgreen;
}

@keyframes text-decoration {

    0%,
    33% {
        content: "Developer FrontEnd";
    }

    34%,
    66% {
        content: "UI Designer";
    }

    67%,
    100% {
        content: "Criativo";
    }
}

@keyframes infinite-cursor {

    0% {
        border-left: .2rem solid yellowgreen;
    }
}

@keyframes switch-off {

    10%,
    30%,
    65%,
    95% {
        width: 0;
    }

    0%,
    20%,
    50%,
    100% {
        width: calc(100% + 8px);
    }
} */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img {
    width: 40vw;
}

.heading {
    font-size: 4rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 1.8rem;
}

.about-content p {
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: auto;
    padding-bottom: 5rem;
}

.services h2 {
    margin-bottom: 2rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--bg-color);
    padding: 2rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 4rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.6rem;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.2rem;
    margin: .8rem 0 2rem;
}

.services-box .services-skills i {
    font-size: 2rem;
}

.portfolio {
    padding-bottom: 8rem;
}

.portfolio h2 {
    margin-bottom: 3rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    font-size: 1rem;
    margin: .3rem 0 .8rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.2rem;
    color: #333;
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    max-width: 50rem;
    margin: .8rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    border: 0 none;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 1rem;
    cursor: pointer;
}

footer {
    height: 10rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

footer .footer-current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    flex-direction: column;
}

.footer-current img {
    max-width: 8rem;
}

.footer-current ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-current ul li {
    list-style: none;
}

.footer-current ul li a {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: relative;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    transition: .5s ease-in;
    margin-bottom: .8rem;
}

.footer-current ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #1E88E5;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-current ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #1E88E5;
}

.footer-current ul li a:hover {
    color: #1E88E5;
    box-shadow: 0 0 5px #1E88E5;
    text-shadow: 0 0 5px #1E88E5;
}

footer p {
    width: 100%;
    text-align: justify;
    padding-left: 14rem;
}

.footer-icontop {
    display: inline-flex;
    align-items: end;
    justify-content: end;
    flex-direction: row-reverse;
    padding-right: 3rem;
}

.footer-icontop a {
    padding: .4rem;
    background-color: var(--white-color);
    border-radius: .8rem;
    display: flex;
    color: var(--text-color);
    cursor: pointer;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-icontop a:hover {
    outline: .2rem solid var(--white-color);
}

.footer-icontop a i {
    font-size: 1.5rem;
    color: #333;
}


/* Breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container {
        height: 85.5 rem;
    }

    .home .profession-container .portfolio-box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay {
        right: -9rem;
    }

}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .portfolio-box {
        right: -22rem;
    }

    .home .profession-container .overlay {
        right: -15rem;
    }
}

@media (max-width: 991px) {

    .header {
        max-width: 62rem;
    }

    .navbar a {
        font-size: 1.4rem;
        margin-right: 2rem;
    }

    .home .home-content {
        max-width: 80rem;
    }

    .home .portfolio-container .profession-box {
        right: -45rem;
    }

    .home .profession-container .overlay {
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .services .services-container {
        align-items: normal;
    }

    .contact {
        min-height: auto;
    }

    .footer-current ul li a {
        margin-top: 0;
    }

}

@media (max-width: 768px) {

    .header {
        max-width: 767.2px;
    }

    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 1.8rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    #menu-icon {
        position: absolute;
        right: 4rem;
        font-size: 2.2rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1.4rem;
        margin: 1rem 0;
        color: var(--text-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 0;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 1.8rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content .social-media {
        font-size: 1rem;
    }

    .home-content .social-media a {
        margin: 1rem .7rem 2rem;
    }

    .home .home-content .profession .text {
        font-size: 1.8rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .separador {
        left: 0;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px) {

    section {
        padding: 10rem 7% 1rem;
    }

    .header {
        padding-top: 4rem;
    }

    .separador {
        left: 19px;
    }

    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .home {
        padding: 15rem 3% 0;
    }

    .separador {
        left: 6rem;
        bottom: -4rem;
    }

    #darkMode-icon {
        right: 7rem;
    }

    .services .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact form .input-box input {
        width: 100%;
    }

}

@media (max-width: 365px) {}